---
import Contactos from "../components/icons/Contactos.astro"
import SectionContainer from "../components/sectionContainer/SectionContainer.astro"
import Contact from "../components/contactos/Contactos.astro"
import Layout from "../layouts/Layout.astro";
---

<Layout 
title="Experiencia laboral"
description="he trabajado... " >

<SectionContainer id="experiencia" class="py-24" >
    <h2 class="flex gap-3 items-center text-2xl font-semibold mb-10">
        <Contactos />
        Contactos
    </h2>
    <Contact />
</SectionContainer>

</Layout>